:root {
  --bg-black: #0f0f0f;
  --white: #f8f8f8;
  --bg-grey: rgb(39, 39, 39);
  --bg-red: rgb(238, 47, 76);
  --link-blue: rgb(126, 162, 236);
  --mobile-bg: rgb(15, 15, 15);
  --bg-light-grey: rgba(39, 43, 45, 0.43);
}

@media all and (max-width: 1024px) {
  .header-logo {
    height: 53px;
  }
  .header-nav-item {
    margin: 0px 1.6rem 0px 2rem;
  }
}

@media all and (max-width: 768px) {
  .header {
    padding: 5rem;
  }
}
