@import "./common/styles/variable.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Glory", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  background-color: var(--bg-black);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
